.button {
    background-color: var(--background-color);
    padding: 5px 15px;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    text-decoration: underline;
}
