@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: black;
    --border-color: black;
    --background-color: white;
    --accent-color: #a6c7cf;
    scroll-behavior: smooth;
    font-family: 'DotGothic16', sans-serif;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}