.header {
    background-color: var(--header-background-color);
    padding: 5px;
}

.header__title,
.header__logo {
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}

.header__menu {
    display: flex;
    flex-direction: column;
}

.header__menu .menu__item {
    text-decoration: none;
    color: var(--text-color);
}

.header__menu .menu__item:hower {
    text-decoration: underline;
}

@media(min-width: 500px) {
    .header__menu {
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
    }
}

.header__banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}