.products .product-card {
    border: 1px solid var(--border-color);
    padding: 5px;
    margin: 5px;
}

.product-card__buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

@media (min-width: 600px) {
    
    .products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 900px) {
    
    .products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: 1024px) {
    
    .products__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
